:80

mercure {
	publisher_jwt "!ChangeThisMercureHubJWTSecretKey!"
	subscriber_jwt "!ChangeThisMercureHubJWTSecretKey!"
	anonymous
	cors_origins *
	publish_origins *
}

header {
	Access-Control-Allow-Origin *
}
